@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');

:root {
	font-size: 10px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: silver;
}

li,
a {
	color: black;
}

h1 {
	font-family: 'Noto Serif', serif;
}

.container {
	position: fixed;
	top: 0;
	display: flex;
	flex-flow: row-wrap;
	/*border for visualizing nav container lay-out*/
	/*border: 5px solid #222;*/
	justify-content: space-between;
	align-items: center;
	font-size: 2em;
	width: 100%;
	min-height: 80px;
}

.form-container {
	display: flex;
	flex-direction: column;
	margin-top: 95px;
}

.container a {
	text-decoration: none;
}

.icon {
	width: 110px;
	height: 110px;
}

.content-title {
	padding: 0 0 1.4em 15%;
	font-size: 2.4em;
	font-weight: 700;
	font-family: 'Noto Serif', serif;
}

.content {
	display: flex;
	width: 70%;
	margin: 0 auto 20px auto;
	align-items: center;
}

.content > img {
	align-self: flex-start;
}

.content-description {
	font-size: 1.7em;
	font-weight: 600;
	line-height: 1.3em;
	padding: 1em 0 1.2em 0;
	margin-left: 2.5em;
}

.range-pricing-item {
	border: 2px solid;
	width: 17.5%;
	margin: 0 0.5vw;
}

.range-pricing-description {
	font-family: serif;
	font-size: 1.6em;
	font-weight: 500;
	margin: 10px 0;
}

.range-pricing-description:nth-child(even) {
	background-color: gainsboro;
}

.range-pricing-title {
	font-size: 2.1em;
	font-family: 'Noto Serif', serif;
	font-weight: 600;
	margin: 15px;
}

.range-pricing-button {
	margin: 8px 0;
}

.nav-item {
	display: inline-block;
	padding: 0em 2em;
	list-style: none;
	margin-left: auto;
}

#header-img {
	width: 80px;
}

#business-name {
	margin-right: auto;
}

#section-title {
	font-size: 2.4em;
	font-weight: 800;
	font-family: 'Noto Serif', serif;
	text-align: center;
	margin: 1em 0;
}

#nav-bar {
	background-color: gainsboro;
}

#nav-list a li {
	transition: all 1s ease 0.5s;
}

#nav-list a li:hover {
	color: #de0015;
}

#email {
	width: 40%;
	margin: 0.3em auto 0em auto;
	font-size: 1.6em;
}

#email-label {
	font-size: 2.4em;
	text-align: center;
	font-weight: 800;
}

#submit {
	width: 20%;
	margin: 20px auto;
	background-color: #848484;
	color: #fff;
	transition: all 0.5s ease 0s;
}

#submit:hover {
	background-color: #fff;
	color: #000;
}

#video {
	margin-top: 0;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5em;
	display: block;
	width: 71%;
	height: 80vh;
}

#range-pricing-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	text-align: center;
	margin-bottom: 4em;
}

#range-pricing-container > h2,
p,
button {
	padding: 10px;
	margin: 2px auto;
}

@media only screen and (max-width: 760px) {
	.content-title {
		text-align: center;
		padding-left: 0px;
	}

	.content {
		flex-flow: column wrap;
		justify-content: center;
		padding: 0;
		margin: 15px auto;
		width: 80%;
	}

	.content-description {
		padding: 0;
		margin: 0 auto;
	}

	#business-name {
		font-size: 1.4em;
		text-align: center;
	}

	.content > p {
		text-align: center;
	}

	.content > img {
		align-self: center;
		width: 80%;
	}

	.range-pricing-item {
		width: 25%;
	}

	#email {
		width: 80%;
		text-align: center;
	}

	#submit {
		padding: 10px 0;
		text-align: center;
	}

	#email-label {
		margin: 60px 0 40px 0;
	}
}
